language: java
jdk:
- openjdk12

install:
  - sudo rm -rf ./protoc
  - wget https://github.com/protocolbuffers/protobuf/releases/download/v3.11.4/protoc-3.11.4-linux-x86_64.zip
  - unzip protoc-3.11.4-linux-x86_64.zip -d protoc
  - chmod 755 -R protoc
  - BASE=/usr/local
  - sudo rm -rf $BASE/include/google/protobuf/
  - sudo cp protoc/bin/protoc $BASE/bin
  - sudo cp -R protoc/include/* $BASE/include
  
jobs:
  include:
    - stage: test
      script:
        - echo $TRAVIS_TAG
        - mvn verify
    - stage: deploy
#      if: (( branch = master ) AND (commit_message =~ /^deploy-release.*/ ))
      if: tag IS NOT blank
      script:
        - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
        - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
        - mvn --settings .maven.xml install -DskipTests=true -Dgpg.skip -Dmaven.javadoc.skip=true -B -V
        - mvn clean deploy --settings .maven.xml -DskipTests=true -Drevision=$TRAVIS_TAG -B -U -Prelease
